<!DOCTYPE html>
<html>
<head>
    <title>Rek-HabiBeats</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/landingpage.css">
    <link rel="icon" href="/static/hbbts.ico"/>
</head>

<header>
    <img src="/static/hbibits.png" alt="Logo Rek-HabiBeats" class="logo">
    <h1>Welcome to HabiBeats</h1>
    <h2>T'es plûtot quel beat ?</h2>
</header>

<body>
    <div class="landing-container">
        <div class="landing-title">
            <h3>Sélectionne un jeu</h3>
        </div>
        <section class="landing-games">
            <a href="/blindtest-initialisation">
            <div class="blindtest" >
                <h4>Find the Beat</h4>
                <ul>
                    <li>Find the Beat joue une musique aléatoire à chaque manche.</li>
                    <li>Tu dois deviner le titre ou l'artiste de la musique jouée.</li>
                    <li>Plus tu réponds vite, plus tu gagnes de points !</li>
                    <li>La partie se termine une fois le nombre de manches atteint.</li>
                </ul>
            </div>
            </a>
            <a href="/petitbac-initialisation">
            <div class="petit-bac">
                <h4>Saha le Bac !</h4>
                <ul>
                    <li>Saha le Bac te propose une lettre aléatoire au début de chaque manche.</li>
                    <li>A toi de trouver des artistes, des albums, des groupes, des instruments et des featurings commençant par cette lettre.</li>
                    <li>Chaque bonne réponse te rapporte des points.</li>
                    <li>La partie se termine une fois le nombre de manches atteint.</li>
            </div>
            </a>
        </section>
    </div>
     <a class="logout-button" href="/logout">Se déconnecter</a>
</body>
</html>